.expand {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.masonry {
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
}

.item {
  text-align: left;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: auto;
}

.center {
  background: #222;
  color: #aaa;
}

.center p {
  padding: 0.5em;
  margin: 0;
}

.center h1 {
  font-size: 2.2em;
  padding: 0.1em 0.2em;
}
.center h2 {
  font-size: 1.8em;
  padding: 0.1em 0.3em;
}
.center h3 {
  font-size: 1.4em;
  padding: 0.1em 0.4em;
}

.center h1,
.center h2,
.center h3 {
  margin: 0;
}

.sidebar {
  color: #333;
  max-width: 300px;
  margin: 0;
  background: #eee;
  height: 100%;
  padding: 0 1em;
  position: relative;
  overflow: auto;
}

main {
  color: #ccc;
  position: relative;
  width: 100%;
  margin: 0; 
  padding: 0; 
  background: #111;
}

.sidebar a {
  text-decoration: underline;
}

.report {
  padding: 1em;
}

.CodeMirror {
  height: auto;
}

.script-actions {
  text-align: right;
  padding: 0.5em;
}